:root {
  /* Blue shades from darkest to brightest as per design*/
  --blue1: #03045E;
  --blue2: #023E8A;
  --blue3: #0077B6;
  --blue4: #0096C7;
  --blue5: #00B4D8;
  --blue6: #48CAE4;
  --blue7: #90E0EF;
  --blue8: #ADE8F4;
  --blue9: #CAF0F8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}
.root{
  width: 100%; 
  height: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins.ttf');
}